:root {
  --bg: #25201d;
  --game-bg:#101b27;
  --grey: #b0afad;
  --tile-light-bg: #1bdeb7;
  --tile-bg: #18BC9C;
  --tile-dark-bg: #10816a;
  --possible-end-bg: #93f2df;
  --white: #fff;

  --red: #f48fb1;

  --tile-empty-bg: var(--grey);
  --tile-peg-bg: #1e4d45;
  --tile-possible-end-bg: #f48fb1;
  --tile-selected-peg-bg: #01dbc4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg);
  color: var(--white);
}