:root {
  --bg: #101b27;
  --game-bg: #293645;
  --grey: #D4CBB3;
  --tile-light-bg: #1bdeb7;
  --tile-bg: #18BC9C;
  --tile-dark-bg: #10816a;
  --possible-end-bg: #93f2df;
  --white: #fff;
  --selected-border: #EE6677;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg);
  color: var(--white);
}